<fieldset>
  <label for="title">Title:</label>
  <input type="text" [(ngModel)]="newPost.title" id="title"> <br />
  <label for="body">Post description:</label>
  <textarea [(ngModel)]="newPost.body" id="body"></textarea> <br />
  <button (click)="addPost()">Add post</button>
</fieldset>

<ul *ngIf="loaded; else loading">
  <li *ngFor="let post of posts">
    <a [routerLink]="['/posts', post.id]">{{post.id}}) {{post.title}}</a>
    <button (click)="deletePost(post.id)">x</button>
  </li>
</ul>

<ng-template #loading>
  <p>Posts are loading...</p>
</ng-template>
